main {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  height: 85%;
}
.sidebar {
  min-width: 20rem;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 0.8rem;
  height: 100%;
}

.content {
  flex: 1;
  background: white;
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  min-height: 100%;
  height: auto;
  overflow-y: scroll;
}

.btn {
  background: #3f51b5;
  color: white;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: #666;
  font-size: 1.6rem;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  margin-top: 1rem;
}

li {
  padding: 8px 0;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
