<mat-card>
  <mat-card-header>
    <img class="logo" src="logo.svg" alt="logo" />
    <h1>Log In</h1>
    <h3>Welcome Back!</h3>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field color="accent">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          required
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
      @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
      }
      <div class="login-btn btn">
        <button mat-raised-button extended (click)="login()">Login</button>
      </div>
    </form>
  </mat-card-content>
  <div class="switch">
    <span>Don't have an account?</span>
    <a routerLink="register" routerLinkActive="active">Register</a>
  </div>
</mat-card>
