.home-container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 90%;
  text-align: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #eee;
  padding-bottom: 1.5rem;
}

.sub-header {
  font-weight: bold;
  display: flex;
  gap: 1.6rem;
}
span {
  font-size: 1.7rem;
}
.btn {
  background: #f5f5f5;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.7rem;
  width: auto;
  color: #4c0677;
}
